<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" version="5.0">
  <servlet>
      <servlet-name>GreetingServlet</servlet-name>
      <servlet-class>javaprogram.GreetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>GreetingServlet</servlet-name>
      <url-pattern>/greet</url-pattern>
  </servlet-mapping>
</web-app>